.btn_enviar{
    width: 100%;
    color: #ffffff;
    background-color: #8D898B;
    border: 1px solid #8D898B;
    font-size: 14px;
    padding: 10px;
    &:hover{
        background-color: $azul;
        color: white;
    }
}
.politica{
    color: $azul;
    text-decoration: none;
    &:hover{
        color: $gris;
        text-decoration: none;
    }
}
#contacto{
    #link{
        text-decoration: none;
        color: black;

        &:hover{
            color: $azul;
        }

    }
    .estilo_icono_foot2{
        display: block;
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background: transparent;
    border-radius: 30%;
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    }
    .tamaños{
        font-size: 35px;
    }
}
#mapa{
    .mapa_ubicacion{
        @media (min-width:360px) {
            margin-bottom: -7%;
        }
        @media (min-width:425px) {
            margin-bottom: -7%;
        }
        @media (min-width:768px) {
            margin-bottom: -4%;
        }
        @media (min-width:1024px) {
            margin-bottom: -3%;
        }
        @media (min-width:1440px) {
            margin-bottom: -3%;
        }


    }
    iframe{
        width: 100%;
    }
}
#modal_consigana{
 h5{
     color: black;
 }
}
