.btn_enviar{
    width: 100%;
    color: #ffffff;
    background-color: #8D898B;
    border: 1px solid #8D898B;
    font-size: 14px;
    padding: 10px;
    &:hover{
        background-color: $azul;
        color: white;
    }
}
.politica{
    color: $azul;
    text-decoration: none;
    &:hover{
        color: $gris;
        text-decoration: none;
    }
}