.cards_inmueble{
    margin-left: 5%;
}
.color_option_clientes{
    color: black !important;
    &:hover{
        color: white !important;
    }
}
.dropdown-item:hover, .dropdown-item:focus{
    background-color: $azul;
}
.codigo{
    font-size: 15px;
    line-height: 16px;
    margin-top: -10px !important;
    font-weight: 400;
    color: $gris;
    

    .icon{
        color: black;
    }

}
.codigo1{
    top: 15px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    margin-left: 2%;
    margin-top: 2%;
    @media (min-width:360px) {
        position: absolute; 
        top: -46px;
        margin-left:5%;
    }
    @media (min-width:425px) {
        position: absolute;
        top: -46px;
        margin-left:5%;
    }
    @media (min-width:730px) {
        position: absolute;
        top: 71px;
        margin-left:2%;
    }
    @media (min-width:1024px) {
        position: inherit;
        top: 71px;
        margin-left:2%;
    }
    @media (min-width:1440px) {
        position: inherit;
        top: 71px;
        margin-left:2%;
    }
}
.label-status{
    background-color: $azul;
    color: white;
    padding: 6px 10px 6px;
    border-radius: 4px;
}
.color_twitter{
    color: #00BBF2;
}
#color_fondo{
    background-color: #f5f5f5;
}
.asesor_cont_mayor{
    
    @media (min-width:360px) {
        margin-bottom: 18%;
        padding: 0px 17px;
    }
    @media (min-width:425px) {
        margin-bottom: 18%;
        padding: 0px 17px;
    }
    @media (min-width:760px) {
        margin-bottom: 18%;
        padding: 0px 23px;
    }
    @media (min-width:1024px) {
        margin-bottom: 0%;
        padding: 0px 23px;
    }
    @media (min-width:1440px) {
        margin-bottom: 0%;
        padding: 0px 23px;
    }
}
.color_int_asesor{
    background-color: white;
}
.tamaño_img_asesor{
    width: 100%;
    object-fit: contain;
}
.datos_asesor{
    list-style: none;
    @media (min-width:360px) {
        margin-left: -16%;
    }
    @media (min-width:425px) {
        margin-left: 0%;
    }
    @media (min-width:760px) {
        margin-left: 13%;
    }
    @media (min-width:1024px) {
        margin-left: inherit;
    }
    @media (min-width:1440px) {
        margin-left: inherit;
    }
}
.icono_Asesor{
    color: $azul;
}
.accion_asesor{
    color: black;
    &:hover{
        color: $gris;
        text-decoration: none;
    }
}
.btn_Asesor{
    border: 1px solid $gris;
    background-color: $blanco;
    color: $gris;
    &:hover{
        background-color: $gris;
        color: white;
    }
}
#cont_tab{
    
    .tab_conte .nav-tabs li.active{
        background-color: #fff;
        
    }
    .tab_conte .nav-link.active{
      background-color: $blanco;
      color: black;
    }
    .tab_conte .nav-link{
        background-color: $gris;
        color: white;
      }
      .tab_conte .tab-pane{
        padding: 3%;
        text-align: justify;
    
      }
    .tab_conte .nav-tabs li{
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    height: 50px;
    // padding: 5px;
    transition: .3s;
    cursor: pointer;
    border-right: 1px solid #f5f5f5;
    }
    .tab_conte{
        background-color: #fff;
        margin-top: -14%;
    }

    
    .primer_texto{
        padding: 18px;
        color: black;
        &:hover{
            background-color: $azul;
            color: white;
        }
    }
}
.alto_img_similares{
    height: 125px;
}

.mapa{
    margin-bottom: -2%;
}

.similares{
    color:black;
   &:hover{
    text-decoration: none;
    color: #0000A0;
   }
}