@font-face{
    font-family: 'roboto';
    src: url("../fonts/Roboto-Regular.ttf");
    
}
@font-face {
   font-family: 'releway';
   src: url("../fonts/Raleway-Regular.ttf");
}

body{
       
font-family: 'lato';
   }

h1, h2, h3, h4, h5, h6, span {
    font-family: "roboto";
    
}
.titulo_importante{
   color: black !important;
}
p, b {
    font-family: "releway";  
}

.azul {
   color: $azul;
}

.gris {
   color: $gris;
}

.blanco {
   color: $blanco;
}

// .contedor_logo{
//    .img{
//       width: 30%;
//       height: 30%;
//       display: none;
//       @include media-breakpoint-up(md){
//          width: 38%;
//          display: none;
//       }
//       @include media-breakpoint-up(lg){
//          width: 30%;
//          height: 30%;
//          display: inherit;
//       }
//    }
  
// }


.fondo_buscador{
   background-color: $blanco;
}

.fondo_buscador1{
   background-color: $azul;
   @include media-breakpoint-up(md){
      background-color: $azul;
   }
   @include media-breakpoint-up(lg){
      background-color: $azul;
   }
   a{
      color: $blanco;
   }
}
.fondo_div{
   background-color: $gris;
}

.lista_redes{
   list-style: none;
   display: flex;
}
.estilo_icono_foot{
    display: block;
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background: transparent;
    border-radius: 30%;
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    border: 1px solid #c2c2c2;
    &:hover{
       background-color: $gris;
       color: white;;
    }
}
.color_iconos{
   &:hover{
      color: $azul;
   }
}
.color_llamanos{
   color: $blanco;
   a{
      text-decoration: none;
      color: $blanco;
   &:hover{
      color: $azul;
   }
   }
}

.color_facebook{
   color: #3A559F;
   &:hover{
      color: $azul;
   }
}
.color_insta{
   color: #cf3c6d;
   &:hover{
      color: $azul;
   }
}
.color_wapp{
   color: #00E676;
   &:hover{
      color: $azul;
   }
}

.logo_pse{
   width: 11%;
   height: 10%;
   margin-top: -9px;
   transition: all 200ms ease-in-out;
   &:hover {
      transform: scale(1.1);
  }
}
.option_menu{
   padding: 0 15px;
    line-height: 46px;
    
}
.btn_buscar{
   width: 100%;
    color: #ffffff;
    background-color: $gris;
    border: 1px solid $gris;
    font-size: 14px;
    padding: 10px;
    &:hover{
      color: #ffffff;
      background-color: $azul;
      border: 1px solid $azul;
    }
}
.form-control{
color: $gris !important;
}
.btn_avanzado{
color: $azul;
   &:focus{
      outline: 0!important;
      outline-offset: 0!important;
      background-image: none!important;
      -webkit-box-shadow: none!important;
      box-shadow: none!important;
   }
  &:hover{
   outline: 0!important;
   outline-offset: 0!important;
   background-image: none!important;
   -webkit-box-shadow: none!important;
   box-shadow: none!important;
  }
}
.segund_div_buscador{
  margin-top: 0%;
  margin-bottom: 0%;
  padding-right: 41px !important;
   padding-left: 41px !important;
   
}
.div_buscador{
   margin-top: 0%;
   padding-right: 41px !important;
   padding-left: 41px !important;
   margin-bottom: -2% !important;
}
#buscador{
   padding: 20px 0;
   box-shadow: 0 2px 2px rgba(0,0,0,.2);
   background-color: #ffffff;
   
}
.form-control:focus{
   border-color:#CED4DA !important;
   box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}
.tipo_inmueble{
   background-color: #0000A0;
    padding-right: 11px;
    height: 25px;
    position: absolute;
    color: white;
    top: 20px;
    border-radius: 3px;
    left: 6%
}
.tipo_gestion{
   background-color: $gris;
    padding-left: 11px;
    height: 25px;
    position: absolute;
    color: white;
    top: 20px;
    border-radius: 3px;
    right: 6%
}

.card { 

   .contenedor_imagen {
      transition: all 250ms;
      height: 263px;
      width: 100%;
      
      img {
         transition: all 250ms;

       }

   }

   &:hover {

      img {
      filter: opacity(0.5);
   }

      

   }
}

.caja_negra {
   transition: all 250ms;
   background: linear-gradient(transparent 80%, black 125%);
   &:hover{
      
         filter: contrast(0);;
      
   }
}
.precio{
    padding-left: 5px;
    height: 25px;
    position: absolute;
    color: white;
    top: 213px;
    border-radius: 3px;
    left: 6%;
    font-size: 18px;
    font-weight: 800;
    background-color: $gris;
    
}
.list_iconos_cards{
   list-style: none;
}
.btn_detalle{
    bottom: 0;
    right: 0;
    
}
.btnn_detalle{
   background-color: $azul;
   
   color: white;
   &:hover{
   background-color: $gris;
   color: white;
   }
}
.icon_detalle{
   right: 29px;
    position: absolute;
    top: 31%;
}
.tamaño_cont{
   max-width: 1293px !important;
}
#footer{
   background-color: $azul;
   h5{
   //  font-weight: 700;
   //  font-size: 18px;
    line-height: 24px;
    color: white;
   }
   p{
   line-height: 24px;
    color: white;
   }
   .icon {
      color: $gris;
   }
   #link{
      text-decoration: none;
      color: white;
      &:hover{
         color: $gris;
      }
   }
   .footer-bottom-area{
      background-color: $azul;
   }
   .color_a_foot_imper{
      text-decoration: none;
      color: $gris;
      &:hover{
         color: $blanco;
      }
   }
}
.subir {
   display: none;
   padding: 13px;
   width: 40px !important;
   height: 40px !important;
   background-color: $gris;
   color: white;
   font-size: 12px;
   cursor: pointer;
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 100;
   border-radius: 8px;
   &:hover{
      background-color: $azul;
      border: 1px solid $blanco;
   }
}

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

.nav-item.active .nav-link {
   position: relative;
}
.nav-item.active .nav-link:before {
   content: "";
   background: #fff;
   position: absolute;
   height: 2px;
   bottom: 3px;
   left: 0;
   right: 0;
   margin: auto;
   @media (min-width:360px) {
      margin-left: 0;
      width:17%;
  }
  @media (min-width:425px) {
   margin-left: 0;
   width:17%;
  }
  @media (min-width:730px) {
   margin-left: 0;
   width:8%;
  }
  @media (min-width:1024px) {
   margin-left: auto;
   width:80%;
  }
  @media (min-width:1440px) {
   margin-left: auto;
   width:80%;
  }
}


#aliados{
   #contenedor_aliados{
      .cont_img{
         overflow: hidden;
      }
      .animacion_logo{
         animation: animacion_logo 10s ease-in-out infinite alternate;

         @keyframes animacion_logo {
             from {
                 margin-left: 0;
             }

             to {
                 margin-left: -630%;
             }
         }

     }
      
   }
}

#linea{
   background-color: $blanco;
}

.navbar-toggler-icon{
   color: white !important;
}
.navbar-toggler{
   border: 1px solid #ffffff !important; 
   
   &:focus{
      border: 1px solid $azul !important; 
   }

}

.page-item.active .page-link{
   background-color: #0000A0 !important;
  border-color: #0000A0 !important;
}

@media (min-width:360px) {
   .contedor_logo{
      img{
         display: none;
         height: 30%;
         width: 38%;
         }
       
      }
      .div_movil2{
         width: 282px;
         position: absolute;
         top: 100%;
         left: 36%;
         z-index: 100;
      }
      .div_movil{
         width: 302px;
         position: absolute;
         left: 15%;
         z-index: 100;
      }
      .espacio_responsive{
         margin-bottom: 3.5rem ;
      }
      .redes{
         display: none !important;
         
      }
      .telefono{
         display: none !important;
      }
      .redes_dos{
         position: absolute;
         top: 8%;
         display: inherit;
         left: 6%;
     
      }
      .cont-footer{
         padding: inherit;
         margin-top: 12%;
      }
      .footer2{
         margin-bottom: 14%;
      }
      .cont_responsive{
         font-size: 15px;
      }
      .info_conatcto{
         padding: inherit;
         margin-top: 7%;
      }
      .espacio_top{
         padding-top: 7% !important;
      }
      .datos_inmueble{
         padding: 6%;
      }
      .asesor_cont_mayor2{
         padding: 0px 15px;
      }
      #cont_tab .tab_conte .nav-tabs li{
         font-size: 7px !important;
       line-height: 10px !important;
      }
      .logo_blanco_movil{

      }
      .espacio_nav2{
         margin-left: 0.5rem;
      }
      .logo_blanco_responsive{
         width: 62% ;
         margin-left: -6%;
      }
}
@media (min-width:420px) {
   
   .redes_dos{
      position: absolute;
      top: -2%;
      display: inherit;
      left: 10%;
   }
   .redes{
      display: none;
      
   }
   .telefono{
      display: none !important;
   }
   .telefono2{
      display: inherit !important;
      padding: 10px;
   }
   .div_movil2{
      width: 332px;
      position: absolute;
      top: 100%;
      left: 32%;
      z-index: 100;
   }
   .div_movil{
      width: 353px;
      position: absolute;
      left: 57px;
      z-index: 100;
   }

   .contedor_logo{
      img{
         display: none;
         width: 30%;
         height: 30%;
      }
      .responsbe_tabs{
         padding: 3%;
      }
   }

   .espacio_responsive{
      margin-bottom: 3.5rem ;
   }
   .cont-footer{
      padding: inherit;
      margin-top: 12%;
   }

   .footer2{
      margin-bottom: 14%;
   }
   .cont_responsive{
      font-size: 15px;
   }
   .info_conatcto{
      padding: inherit;
      margin-top: 7%;
   }
   .espacio_top{
      padding-top: 7% !important;
   }
   .responsbe_tabs{
      padding: 3%;
   }
   .datos_inmueble{
      padding: 6%;
   }
   .asesor_cont_mayor2{
      padding: 0px 15px;
   }
   #cont_tab .tab_conte .nav-tabs li{
      font-size: 7px !important;
    line-height: 10px !important;
   }
   .logo_blanco_movil{
         
   }
   .espacio_nav2{
      margin-left: 0.5rem;
   }
   .logo_blanco_responsive{
      width: 57% ;
      margin-left: -6%;
   }
}

@media (min-width:730px) {
   .div_movil2{
      width: 595px;
      position: absolute;
      top: 100%;
      left: 25%;
      z-index: 100;
   }
   .div_movil{
      width: 598px;
      position: absolute;
      left: 99px;
      z-index: 100;
   }
   .redes{
      display: none !important;
      
   }
   .redes_dos{
      position: absolute;
      top: -36%;
      display: inherit;
      left: 10%;
      
   }
   .telefono2{
      display: inherit !important;
      padding: 10px;
   }
   .contedor_logo{
      img{
         display: none;
         height: 30%;
         width: 38%;
         }
       
      }
      
      .espacio_responsive{
         margin-bottom: 1.5rem ;
      }
      .cont-footer{
         padding: 3rem;
         margin-top: inherit;
      }
      .footer2{
         margin-bottom: 5%;
      }
      .cont_responsive{
         font-size: 16px;
      }
      .info_conatcto{
         padding: inherit;
         margin-top: 7%;
      }
      .espacio_top{
         padding-top: 5% !important;
      }
      .responsbe_tabs{
         padding: 3%;
      }
      .datos_inmueble{
         padding: 3%;
      }
      .div_primero{
         margin-top: -14%;
    left: 10%;
      }
      #cont_tab .tab_conte .nav-tabs li{
         font-size: 9px !important;
         padding-left: 5px;
      }
      .asesor_cont_mayor2{
         padding: 0px 0px;
      }
      #cont_tab .tab_conte .nav-tabs li{
         font-size:9px !important;
         line-height: 12px !important;
      }
      .logo_blanco_movil{
         
      }
      .espacio_nav2{
         margin-left: 0.5rem;
      }
      .logo_blanco_responsive{
         width: 31% ;
      }
}
@media (min-width:1024px) {
   .redes_dos{
      display: none;
   }
   .redes{
      display: inherit !important;
   }
   .telefono{
      display: inherit !important;
   }
   .telefono2{
      display: none !important;
   }
   .div_movil2{
      display: none;
   }
   .div_movil{
      
      display: none !important;
   }
   .contedor_logo{
      img{
         display: inherit;
        width: 30%;
        height: 30%;
            
         }
      }
      .espacio_responsive{
         margin-bottom: 1.5rem ;
      }
      .cont-footer{
         padding: 3rem;
         margin-top: inherit;
      }
      .footer2{
         margin-bottom: 0%;
      }
      .cont_responsive{
         font-size: 16px;
      }
      .info_conatcto{
         padding: 1.5rem;
         margin-top: inherit;
      }
      .espacio_top{
         padding-top: 6% !important;
      }
      .responsbe_tabs{
         padding: inherit;
      }
      .datos_inmueble{
         padding: 0%;
      }
      .div_primero{
      margin-top: inherit;
      left: inherit;
      }
      #cont_tab .tab_conte .nav-tabs li{
         font-size: 8px;
         padding-left: inherit;
      }
      .asesor_cont_mayor2{
         padding: 0px 23px;
      }
      #cont_tab .tab_conte .nav-tabs li{
         font-size:12px !important;
         line-height: 12px !important;
      }
      .logo_blanco_movil{
         
      }
      .espacio_nav2{
         margin-left: 1.5rem;
      }
   }


@media (min-width:1440px) {
   .redes_dos{
      display: none !important;
   }
   .redes{
      display: inherit !important;
      }
      .telefono{
         display: inherit !important;
}
   .telefono2{
      display: none !important;
   }
   .div_movil2{
         display: none;
   }
   .div_movil{
      
      display: none !important;
   }
   .contedor_logo{
      img{
         display: inherit;
        width: 30%;
        height: 30%;
            
         }
      }

      .espacio_responsive{
         margin-bottom: 1.5rem ;
      }
      .cont-footer{
         padding: 3rem;
      }
      .footer2{
         margin-bottom: 0%;
      }

      .cont_responsive{
         font-size: 16px;
      }
      .info_conatcto{
         padding: 1.5rem;
         margin-top: inherit;
      }
      .espacio_top{
         padding-top: 6% !important;
      }
      .responsbe_tabs{
         padding: inherit;
      }
      .datos_inmueble{
         padding: 0%;
      }
      .div_primero{
         margin-top: inherit;
         left: inherit;
         }
         #cont_tab .tab_conte .nav-tabs li{
            font-size: 14px;
            padding-left: inherit;
         }
         .asesor_cont_mayor2{
            padding: 0px 23px;
         }
         #cont_tab .tab_conte .nav-tabs li{
            font-size: 14px !important;
            line-height: 12px !important;
         }
         .logo_blanco_movil{
         
         }
         .espacio_nav2{
            margin-left: 1.5rem;
         }
}

