#banner{

    height: 30vh;



    img{
        width: 100%;
        filter: brightness(0.5);
    }
    .rutas{
        color: white;
    }
    .cont_texto_banner{
        // margin-top: 6%;
        z-index: 100;
    }
    .txt_principal{
        font-size: 43px;
        line-height: 43px;
        font-weight: 800;
    }
    .titulo_principal{
        font-weight: 800;
        
    }
}
#estadisticas{
    background-image: url('../images/contador.jpg');
    padding: 4%;
    color: white;
    @media (min-width:360px) {
        margin-bottom: -6%;
    }
    @media (min-width:425px) {
        margin-bottom: -6%;
    }
    @media (min-width:730px) {
        margin-bottom: -4%;
    }
    @media (min-width:1024px) {
        margin-bottom: -2%;
    }
    @media (min-width:1440px) {
        margin-bottom: -2%;
    }
    .icono{
        color: $azul;
    }
}
.espacio_int_valores{
    margin-top: 7%;
}
.color_fondo{
    background-color: #8d898b54;
    color: black;
    border: 0.1px solid $blanco !important
}
#aliados{
    .titulo_principal{
        padding-left: 9px !important;
    }
}
.titulo_importante_quienes{
    color: $azul;
}